.sidebar{
  position:fixed;
  top:55px;
  bottom:0px;
  left:0px;
  width: 80px;
  background-color: white;
  z-index: 200px;
  padding-top:5px;
}
.sidebar-link{
  height: 112px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  cursor:pointer; 
}
.sidebar-link:hover{
  
  background-color:rgb(234,234,234);
}
.sidebar-link img{
  height:30px;
  margin-bottom:4px;
}

.sidebar-link div{
  font-size:10px;
}